{% extends 'user_info/user_base.html' %}
{% load staticfiles %}
{% block reset_password %}

    <link rel="stylesheet" type="text/css" href={% static "new/css/password_reset_audit.css" %}>
    
    <script>
        window.onload = function(){
            var div = document.getElementById('reset_psw_li');
            div.setAttribute("class", "active");
        }
        function redict() {
            var page = document.getElementById("page_input").value;
            if(page==""){
                page = 1;
            }
            window.open('?page='+page)

        }
    </script>
    <script>
        var is_show_1 = true;
        var is_show_2 = false;
    </script>


    <div class="main">
        <div class="box">
            <div class="main_wrap">
                <div v-show="content_active" class="content f-cb">
                    <table>
                        <tr style="background-color: #0d3771; font-size: 18px">
                            <th>序列</th>
                            <th>用户名</th>
                            <th>申请</th>
                            <th>操作</th>
                        </tr>
                        <!-- <div class="bac"> -->
                            {% for user in reset_user_list %}
                            
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>申请密码重置</td>
                                    <td>
                                        {% if user.is_reset == '待审核' %}
                                            <a href="{% url 'admin_reset_password'%}?flag=y&username={{ user.username }}" class="agree_btn">同意</a>
                                            <a href="{% url 'admin_reset_password'%}?flag=n&username={{ user.username }}" class="refuse_btn">拒绝</a>
                                        {% elif user.is_reset == '通过' %}
                                            <a  class="agreed_btn">已同意</a>
                                        {% else %}
                                            <a  class="refused_btn">已拒绝</a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                        <!-- </div> -->
                    </table>
                    <div class="t_footer">
                        <div class="page">{{ reset_user_list.number }}/{{ reset_user_list.paginator.num_pages }}</div>
                        <div class="page_nav">
                            {% if reset_user_list.has_previous %}
                                <a  href="?page={{ reset_user_list.previous_page_number }}"><</a>
                            {% else %}
                                <a  href="#" disabled="disabled"><</a>
                            {% endif %}
                            {% if reset_user_list.has_next %}
                                <a href="?page={{ reset_user_list.next_page_number }}">></a>
                            {% else %}
                                <a href="#" disabled="disabled">></a>
                            {% endif %}
                        </div>
                        <div class="go_nav">
                            <form name="pageform">
                                跳转到 <input id ='page_input' type="text" placeholder="1"> <button  onclick="redict()">GO</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src={% static "new/js/side_bar.js" %}></script>
    <script src={% static "new/js/SetSiderHeight.js" %}></script>
{% endblock %}