{% extends 'user_info/user_base.html' %}
{% load staticfiles %}
{% block admin_team_list %}

    <link rel="stylesheet" type="text/css" href={% static "new/css/team_manage_list.css" %}>
    
    <script>
        window.onload = function(){
            var div = document.getElementById('team_ma_li');
            div.setAttribute("class", "active");
        }
        function redict() {
            var page = document.getElementById("page_input").value;
            if(page==""){
                page = 1;
            }
            window.open('?page='+page)
        }
    </script>
    <script>
        var is_show_1 = true;
        var is_show_2 = false;
    </script>

    <div class="main">
        <div class="main_wrap">
            <div class="log_header f-cb">
                <div class="tab " onclick="window.location.href='{% url 'admin_team_manage' %}'">团队审核</div>
                <div class="tab active"  onclick="window.location.href='{% url 'admin_team_list' %}'">团队列表</div>
            </div>
            <div class="content f-cb">
                <div class="box">
                    <table>
                            <tr style="background-color: #0d3771; font-size: 18px">
                                <th>序列</th>
                                <th>用户名</th>
                                <th>申请</th>
                                <th>操作</th>
                            </tr>
                            {% for team in team_temp_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ team.user.username }}</td>
                                    <td>申请创建{{ team.teamname }}团队</td>
                                    <td>{{ team.teamdate |date:"Y-m-d"}} 审核</td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
                <div class="t_footer">
                    <div class="page">{{ team_temp_list.number }}/{{ team_temp_list.paginator.num_pages }}</div>
                    <div class="page_nav">
                        {% if team_temp_list.has_previous %}
                            <a  href="?page={{ team_temp_list.previous_page_number }}"><</a>
                        {% else %}
                            <a  href="#" disabled="disabled"><</a>
                        {% endif %}
                        {% if team_temp_list.has_next %}
                            <a href="?page={{ team_temp_list.next_page_number }}">></a>
                        {% else %}
                            <a href="#" disabled="disabled">></a>
                        {% endif %}
                    </div>
                    <div class="go_nav">
                        <form name="pageform">
                            跳转到 <input id ='page_input' type="text" placeholder="1"> <button  onclick="redict()">GO</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src={% static "new/js/side_bar.js" %}></script>
    <script src={% static "new/js/SetSiderHeight.js" %}></script>
{% endblock %}